{% extends "CloudasaService/base.html" %}
{% load staticfiles %}
{% block content %}
	
<div class="subMenu" >
  <div class="inner">
   <a href="#sTop" class="subNavBtn">Top</a>
   <a href="#s7" class="subNavBtn">Author</a>
  </div>
 </div>

 <div class="section s7">
  <div class="inner">
   <div class="col-1-2"><img class="picDisplay" src="{% static "PY_caas3.png" %}"/></div>
   <div class="col-1-2">
    <div class="content">
     <p class="header">About The Author</p>
     <div class="content">{{ Author.title_content|linebreaksbr }}</div>
    </div>
   </div><br class="clear">
  </div>
 </div>

{% endblock %}
