{% load staticfiles %}
{% load base_extras %}

<html>
<head>
<!--<link rel="stylesheet" type="text/css" href="{% static 'CloudasaService/caas.css' %}" /> -->
<title>CaaS - Cloud as a Service - the information portal for Cloud services</title>

<meta name = "keywords" content = "CAAS, CaaS, Cloud, Public Cloud, Private Cloud, Nutanix, hyperconverged, AWS, Azure, IT Cloud" />
<meta name = "description" content = "CaaS is an informational site that helps to decipher The Cloud IT principles" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no">
<meta property="fb:admins" content="100014570688142" />

<!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"></script> -->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'caas2.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static 'jquery.smint.js' %}" type="text/javascript" ></script>
<!-- <script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<script src="{% static 'jquery.drawsvg.js' %}"></script>

<script type="text/javascript">

$(document).ready( function() {
    $('.subMenu').smint({
        'scrollSpeed' : 2000
    });
});

</script>

</head>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrap ">
<!--  <div class="socialm"> -->
<!--  <div class="floatleft"><script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/paul-young-2338302" data-format="hover" data-width="200" data-related="false" ></script></div> -->
<!--  <div class="fb-like floatright" data-href="http://www.cloudasaservice.co.uk/" data-layout="standard" data-action="like" data-size="small" data-width="300" data-show-faces="true" data-share="true"></div>
 </div> -->
 <div class="section sTop">
  <div class="socialm">
   <div class="floatleft">
<!--   <a href = "https://www.facebook.com/philal101"><img src="{% static "if_facebook_circle_color_107175.png" }"/></a>
    <a href = "https://twitter.com/phil_livesey"><img src="{% static "if_twitter_circle_color_107170.png" }"/></a> -->
<!--    <a href="https://www.linkedin.com/in/paul-young-2338302/"><img src="{% static 'if_linkedin_circle_color_107178.png' %}"/></a> -->
<!--    <script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/paul.young-2338302" data-format="hover" data-width="200" data-related="false"></script> -->
<!-- <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/paul-young-2338302" data-format="hover" data-related="false"></script> -->
       <div class="socialbannersmall"><a href="http://www.linkedin.com/in/paul-young-2338302" target="_blank" class="veryTopBtn"><img src="{% static 'LI_icon.svg' %}"/></a></div>
<!--       <div class="socialbannersmall"><a href="http://www.linkedin.com/in/paul-young-2338302" target="_blank" class="veryTopBtn"><img src="{% static 'TwitterSmall.png' %}"/></a></div> -->
       <div class="floatleft socialbannermedium"><a href="/CaaS/author/" class="veryTopBtn">The Author</a></div>
       <div class="floatleft socialbannermedium"><a href="/CaaS/contact/" class="veryTopBtn">Contact</a></div>
       {% for item in Updatetext %}
           <div class="floatleft socialbannerlarge">Updated: {{ item.update_text }}</div>
<!--               <div class="floatleft socialbannerlarge">Updated: 14.11.2018 Specifics:Self-Service (2)</div> -->
       {% endfor %}
   </div>
  </div>
  <div class="inner">
   <div class="svgwrapper">
     <svg width="961" height="323">
     <g stroke-width="2" stroke="#25aae1">
      <path d="M280,270 L610,270 C690,270 690,170 610,170 C610,50 400,50 400,170" fill="none" />
     </g>
     <g>
      <text fill="lightgrey" x="278" y="230" style="font-family: 'Open Sans', sans-serif; font-size:43px;">Cloud-as-a-Service</text>
      <text fill="lightgrey" x="282" y="255" style="stroke: lightgrey; font-family: 'Open Sans', sans-serif; font-size:16px; letter-spacing: 9.5px;">Deciphering The Cloud</text>
     </g>
     </svg>
    </div>
  </div>
  <div class="topsection">
   <div class="topinner">
    <div class="topsubMenu">
     {% if Module == 'index' %}
     <a href="/CaaS/" class="topNavBtnLeft topactive">Cloud Overview</a>
     {% else %}
     <a href="/CaaS/" class="topNavBtn">Cloud Overview</a>
     {% endif %}
     {% if Module == 'virtual' %}
     <a href="/CaaS/virtual/" class="topNavBtn topactive">Cloud Specifics</a>
     {% else %}
     <a href="/CaaS/virtual/" class="topNavBtn">Cloud Specifics</a>
     {% endif %}
      {% if Module == 'detail' %}
     <a href="/CaaS/detail/" class="topNavBtnRight topactive">Cloud Adoption</a>
     {% else %}
     <a href="/CaaS/detail/" class="topNavBtn">Cloud Adoption</a>
     {% endif %}
    </div>
   </div>
  </div>
 </div>


<script type="text/javascript">
    var $mySVG = $('svg').drawsvg({
        'duration' : 4000 
    });
    $mySVG.drawsvg('animate');
</script>

{% block content %}
{% endblock %}

</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

</html>
