{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'CloudasaService/caas.css' %}" />
</head>
<div class="headcolumns2">
    <div class="sitewrap">
        <div class="topwrap">
	    <div class="tophead">
	        <div class="floatleft topheadtxt"><a class="floatleft topheadtxt" href="/CaaS/author/">About the author |</a></div>
		<div class="floatleft topheadtxt"><a class="floatleft topheadtxt" href="/CaaS/contact/"> Contact |</a></div>
		<div class="floatleft topheadtxt"><img src="{% static "unionjack.gif" %}"/></div>
            </div>
       	    <div class="midhead">
                <div class="headwrapleft floatleft">
                    <div class="headurlbig">CaaS</div>
                    <div class="headurl">Cloud-as-a-Service</div>
	        </div>
                <div class="headwrapright floatleft">
                </div>
            </div> 
            <div class="lowhead">
               <div class="lowheaditem floatleft"><a class="lowheadtxt floatleft" href="/CaaS/">Home</a></div>
               <div class="lowheadgap floatleft"><img src="{% static "cloudicon2.png" %}"/></div>
               <div class="lowheaditem floatleft"><a class="lowheadtxt floatleft" href="/CaaS/description/">What is Cloud?</a></div>
               <div class="lowheadgap floatleft"><img src="{% static "cloudicon2.png" %}"/></div>
               <div class="lowheaditem floatleft"><a class="lowheadtxt floatleft" href="/CaaS/advantage/">Cloud Advantage</a></div>
               <div class="lowheadgap floatleft"><img src="{% static "cloudicon2.png" %}"/></div>
               <div class="lowheaditem floatleft"><a class="lowheadtxt floatleft" href="/CaaS/difference/">Who Benefits?</a></div>
               <div class="lowheadgap floatleft"><img src="{% static "cloudicon2.png" %}"/></div>
               <div class="lowheaditem floatleft"><a class="lowheadtxt floatleft" href="/CaaS/businesscontinuity/">Public or Private?</a></div>
            </div> 
    	</div>
    </div> 
</div> 

{% block content %}
{% endblock %}

<div class="headcolumns2">
    <div class="sitewrap">
        <div class="footer">
            <p class="footer">2017 CloudasaService.co.uk All Rights Reserved <br><br> <a class="clearlink" href="/CaaS/">About CloudasaService.co.uk</a><br><a class="clearlink" href="/GnB/3/site/">Site Development Programme</a><br><a class="clearlink" href="/GnB/4/site/">Contact The Team</a></p>
        </div>
    </div>
</div>
<div class="clear"></div>
</html>
