{% extends "CloudasaService/base.html" %}
{% load static %}
{% block content %}

 <div class="subMenu" >
  <div class="inner">
   <a href="#sTop" class="subNavBtn">Top</a>
   <a href="#s7" class="subNavBtn">Contact me</a>
  </div>
 </div>

 <div class="section s2">
  <div class="inner">
   <div class="col-1-1">
    <div class="content">
     <p class="header">Contact</p>
     {% if messages %}
      {% for message in messages %}
       {{ message }}
      {% endfor %}
     {% endif %}     
     <form action="/contact/" method="post">
     {% csrf_token %}
      <table class="forminput">
       {{ form.as_table }}
      </table>
      <input type="submit" name="correct" value="Submit" class="submitbutton"/>
     </form>
    </div>
   </div><br class="clear">
  </div>
 </div>

{% endblock %}
