{% load staticfiles %}
<html>
<head>
<!--<link rel="stylesheet" type="text/css" href="{% static 'CloudasaService/caas.css' %}" /> -->
<title>CaaS - Cloud as a Service - the information portal for Cloud services</title>
<!--
<meta name = "keywords" content = "CAAS, CaaS, Cloud, Public Cloud, Private Cloud, Nutanix, hyperconverged" />
<meta name = "description" content = "CaaS is an informational site that helps to decipher The Cloud" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1 user-scalable=no">
<meta property="fb:admins" content="100014570688142" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css'>
<link href="{% static 'caas2.css' %}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="{% static 'jquery.smint.js' %}" type="text/javascript" ></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script> -->
<!--<script src="{% static 'jquery.drawsvg.js' %}"></script> -->
<!--
<script type="text/javascript">

$(document).ready( function() {
    $('.subMenu').smint({
        'scrollSpeed' : 1000
    });
});

</script>
-->
</head>

    <div class="svgwrapper">
     <svg width="900" height="800">
      <g stroke-width="6" stroke="#25aae1">
       <path d="M280,400 L680,400 C780,400 780,250 680,250 C680,100 430,100 430,250" fill="none" />
<!--       <path d="M100,100 L300,200 L400,200" fill="none" /> -->
      </g>
     </svg>
    </div>
<!--
{% block content %}
{% endblock %}
-->
<!-- 
</div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
-->
</html>
